@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'LatoRegular';
  font-style: normal;
  font-weight: 400;
  src: local(''),
  url('./assets/fonts/lato-regular.woff') format('woff'),
}